/*
Los selectores definen sobre qué elementos se aplicará un conjunto de reglas CSS.
En CSS los selectores se utilizan para delimitar los elementos HTML de nuestra página web a los que queremos aplicar estilo. 
Hay una amplia variedad de selectores CSS, lo que permite una gran precisión a la hora de seleccionar elementos a los que 
aplicar estilo.
*/

h3 {
  /*aplicamos la regla a un selector de tipo*/
  color: yellow; /*esto es una propiedad cuyo valor es yellow*/
}

h4 {
  color: bisque;
}

h5,
.parrafo-tipo1 {
  /*puedo aplicar la regla a un selector de tipo y aun selector de clase*/
  font-size: 200px;
}

.parrafo-tipo1 {
  /*esto es un selector de clase*/
  color: darkgoldenrod;
  background-color: black;
  font-size: 50px;
}

.parrafo-tipo2 {
  color: rgb(184, 11, 98);
  background-color: rgb(115, 8, 8);
  font-size: 30px;
}

#parrafoUnico1 {
  /*esto es un selector de id*/
  font-style: "Verdana";
  font-size: 30px;
  color: blueviolet;
}

#gato {
  border-style: solid;
  border-color: brown;
  border-width: 35px;
  border-radius: 20px;
  padding: 15px;
  margin-top: 10px;
}
#gato2 {
  border-style: solid;
  border-color: brown;
  border-width: 35px;
  border-radius: 20px;
  padding: 15px;
  margin-bottom: 10px;
}
#gato3 {
  border-style: solid;
  border-color: brown;
  border-width: 35px;
  border-radius: 20px;
  padding: 15px;
  margin-top: 10px; 
}